

{% extends 'shop/basic.html' %} 

{% block title %} index {% endblock %} 

{% block css %}

        .col-md-3{

            display: inline-block;
            margin-left: -4px;
        }

        .col-md-3 img{

          width:100%;
          height:auto;
        }

        body .carousel-indicator li{

            background-color: blue;

        }

        .carousel-item .active{
          background-color:rgb(227, 15, 36);
        }

        body .carousel-indicator{

          bottom:0; 
        }

        body .carousel-control-prev-icon,
        body .carousel-control-next-icon
        {
      
            background-color: rgb(11, 11, 29);
        }

        body .no-padding{
          padding-left:0;
          padding-right:0;
        }

    {% endblock %}


{% load static %}

{% block body %}

<div class="container">
    <!--=================== carousel =====================================-->
    <div id="demo" class="carousel slide my-3" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ol>

      <!--=============carousel slide show==========================-->
      <div class="container carousel-inner no padding">
        <div class="carousel-item active">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem">
              <img src="{% static 'shop/headphone.jpg' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">some representative placeholder content for the second slide.</p>
                  <a herf="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
          </div>


          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem">
              <img src="{% static 'shop/headphone.jpg' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card Title</h5>
                  <p class="card-text">some representative placeholder content for the second slide.</p>
                  <a herf="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
          </div>



          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem">
              <img src="{% static 'shop/headphone.jpg' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card Title</h5>
                  <p class="card-text">some representative placeholder content for the second slide.</p>
                  <a herf="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
          </div>


          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem">
              <img src="{% static 'shop/headphone.jpg' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card Title</h5>
                  <p class="card-text">some representative placeholder content for the second slide.</p>
                  <a herf="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
          </div>
        </div>



        <div class="carousel-item">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem">
              <img src="{% static 'shop/headphone.jpg' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card Title</h5>
                  <p class="card-text">some representative placeholder content for the second slide.</p>
                  <a herf="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
          </div>


          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem">
              <img src="{% static 'shop/headphone.jpg' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card Title</h5>
                  <p class="card-text">some representative placeholder content for the second slide.</p>
                  <a herf="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
          </div>



          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem">
              <img src="{% static 'shop/headphone.jpg' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card Title</h5>
                  <p class="card-text">some representative placeholder content for the second slide.</p>
                  <a herf="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
          </div>


          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem">
              <img src="{% static 'shop/headphone.jpg' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card Title</h5>
                  <p class="card-text">some representative placeholder content for the second slide.</p>
                  <a herf="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
          </div>
        </div>



        <div class="carousel-item">
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem">
              <img src="{% static 'shop/headphone.jpg' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card Title</h5>
                  <p class="card-text">some representative placeholder content for the second slide.</p>
                  <a herf="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
          </div>


          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem">
              <img src="{% static 'shop/headphone.jpg' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card Title</h5>
                  <p class="card-text">some representative placeholder content for the second slide.</p>
                  <a herf="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
          </div>



          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem">
              <img src="{% static 'shop/headphone.jpg' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card Title</h5>
                  <p class="card-text">some representative placeholder content for the second slide.</p>
                  <a herf="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
          </div>


          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem">
              <img src="{% static 'shop/headphone.jpg' %}" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card Title</h5>
                  <p class="card-text">some representative placeholder content for the second slide.</p>
                  <a herf="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
          
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
</div>

{% endblock %}