{% extends 'shop/basic.html' %} 

{% block title %}My Cart Tracker{% endblock %}  

{% block body %}

<div class="container my-4">
    <div class="col">
        <h2>Enter your Order id and Email address to Track your order</h2>
        
        <form action="#" method="post" id="trackerForm">
            {% csrf_token %} 
    
            <div class="form-row">
               <div class="form-group col-md-6  my-4">
                    <label for="order_id">Order Id</label>
                    <input type="text" class="form-control" id="order_id" name="order_id" placeholder="Enter your Order Ids">
                </div>

              <div class="form-group col-md-6  my-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
              </div>
             
            </div>
            <button type="submit" class="btn btn-primary">Place Order</button>
        </form>
 
    <div class="col my-4">
        <h2>Your Order Status</h2>
        <div>
            <div id="alert">
              </div>
            <ul class="list-group my-4"   id ="items">
            </ul>
        </div>
    </div>
</div>




{% endblock %}  

{% block js %}  
<script>
  
$('#trackerForm').submit(function(event)
{
    $('#items').empty();
    var formData = {
        'orderId' : $('input[name=order_id]').val(),
        'email' : $('input[name=email]').val(),
        'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),
    };

    $.ajax({
        type : 'POST',
        url : '/shop/tracker/',
        data : formData,
        encode :true
    })

    .done(function(data){
        console.log(data)
    });
    event.preventDefault();
});

 
</script>


{% endblock %}